/* font-family: 'Solitreo', cursive;
font-family: 'Roboto Condensed', sans-serif; */

:root{
--navbar-color: rgb(223, 223, 223);
}

::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0); 
  
}

::-webkit-scrollbar-thumb {
    background: darkorange; 
    border-radius: 5px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(86, 68, 68); 
  }

html{
    overflow-x: hidden;
    scroll-behavior:smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(14, 14, 21);
    
}

header{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.2);
    position: absolute;
}

.navbar{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
   
}

.navbar__list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:2em;
    display: none;
    width: 100%;
   
}

.navbar__list a{
    text-decoration: none;
    color: black;
}

.sign__container{
   display: none;
}

.logo{
    font-family: 'Solitreo', cursive;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.3rem;
}



.burger__container{
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: white;
    border: none;
}

.burger-line1, .burger-line2{
    width: 20px;
    height: 2px;
    background-color: black;
}

.burger-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    position: absolute;
    z-index: 999;
    background-color: white;
    width: 100%;
    opacity: 0;
    transform: translateY(-150%);
}

.burger-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-inline-start: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    gap: .5em;
    font-weight: bold;
    
}

.burger-sign{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
    padding-bottom: 1em;
    
}

.btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    width: 5em;
    height: 2em;
    border: 2px solid black;
}

.join-btn{
   background-color: orange;
}

.sign-btn{
    background-color: cadetblue;
}

.title__container{
    position: absolute;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.title__container h1{
    font-size: 2.7em;
    animation: leftSlide 2s ease;
}

.title__container h2{
    font-size: 1.3em;
    animation: rightSlide 2s ease;
}


/* ---------------- NEWS SECTION ---------------- */
.news__section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    background-color: rgb(223, 223, 223);
    color: rgb(255, 255, 255);
    position: relative;
}

.news__section h2{
    text-align: center;
    align-self: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: underline;
    text-underline-offset: 5px;
    z-index: 999;
    letter-spacing: 3px;
    font-size: 2em;
}

.news__section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(.2);
}

.news-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1em;
    z-index: 999;
}

.news{
    width: 9em;
    height: 13em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 999;
    background-color: grey;
}

.news-btn{
    margin-top: 1em;
    width: 8em;
    height: 2.5em;
    z-index: 999;
    background-color: darkorange;
    border: 1px solid darkorange;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    
}

.news1{
 background-image: url(/Media/messi-cropped.png);
 background-position: cover;
 background-repeat: no-repeat;

}

/* ---------------- LEAGUES SECTION ---------------- */
.leagues__section{
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    color: rgb(0, 0, 0);
   
}

.leagues-title h2, .international-title h2{
    font-size: 1.7em;
}

.leagues-title p, .international-title p{
    font-size: 1.2em;
    margin-top: 3em;
}


.leagues-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:1em;


}

.leagues-btn{
    align-self:center;
    width: 10em;
    height: 2.5em;
    border-radius: 5px;
    background-color: darkorange;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    box-shadow: 0 0 3px black;
    
}



/* ---------------- INTERNATIONAL SECTION ---------------- */
.international__section{
    width: 100%;
    height: 90vh;
    background-color: rgb(223, 223, 223);
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    
}

.international-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.image{
    width: 5em;
    height: 5em;
}

.conmebol{
    width: 9.5em;
    height: 7em;
   
}





/* ---------------- FOOTER SECTION ---------------- */
footer{
    width: 100%;
    height: 50vh;
    background-color: rgb(14, 14, 21);
    color: white;
}

.contact__section{
    display: flex;
    justify-content: space-between;
    height: 50vh;


}

.contact-list{
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    align-items: center;
   
    
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.social-container img{
    width: 2.5em;
    height: 2.5em;
    
}

.copyright{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}






/* --------------- MEDIA QUERIES ---------------- */
@media (min-width:768px){
.international-list{
    flex-direction: row;
    margin-bottom: 10em;
}

.uefa{
    margin-right: 1.2em;
}

.news{
    width: 10em;
    height: 20em;
}

}

@media (min-width:1024px){
.navbar__list{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.sign__container{
   display: block;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-right: 2em;
   gap:.5em;
   font-family: 'Roboto Condensed', sans-serif;
   
}

.sign__container button{
    width: 7em;
    height: 2.2em;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

.burger__container{
    display: none;
}

.news{
    width: 13em;
    height: 22em;
}


}


@media (min-width:1440px){

.news-container{
    gap: 4.5em;
}

.news{
    width: 18em;
}
}





/* ------------- ANIMATIONS AND HOVERS ------------- */
.navbar__list li:hover{
    cursor: pointer;
    scale: 1.1;
    text-decoration: 2px black overline;
    transition: scale .5s ease;
}

.join-btn:hover , .sign-btn:hover, .social-container img:hover{
    cursor: pointer;
    transform: translateY(-2px);
    background-color: rgb(225, 222, 31);
    transition: transform .5s ease;
}

@keyframes leftSlide {
    0%{transform: translateX(-250%);}
    100%{transform: translateX(0%);}  
}

@keyframes rightSlide {
    0%{transform: translateX(250%);}
    100%{transform: translateX(0%);}
}

.news-btn:hover, .leagues-btn:hover, .leagues-list img:hover, .international-list img:hover, .contact-list li:hover, .news:hover{
    scale: 1.1;
    cursor: pointer;
    transition: scale .5s ease;
}

.navbar__list li:not(:hover), .join-btn:not(:hover), .sign-btn:not(:hover), .social-container img:not(:hover) , .news-btn:not(:hover), .leagues-btn:not(:hover) , .leagues-list img:not(:hover) , .international-list img:not(:hover), .contact-list li:not(:hover), .news:not(:hover){

    scale: 1;
    transition: scale .3s ease-in-out;

}

.burger__container:hover{
    cursor: pointer;
}

.burger-animation{
    transform: translateY(0%);
    transition: transform 1s ease;
    opacity: 1;

}

.burger1X{
    transform: rotate(-45deg);
    transition: transform 1s ease;
}

.burger2X{
    transform: rotate(45deg);
    transition: transform 1s ease;
}